ArrayTaskID   Input                                                                                         Output
1             /home/21010294/VSR/Repositories/CAL_GAN/results/CALGAN-VTV-T4/visualization/VTV               /work/21010294/VSR/VTV-Data/Output-Videos/CALGAN 
2             /home/21010294/VSR/Repositories/SRFormer/results/SRFormer_DF2k_X4_VTV2/visualization/VTV      /work/21010294/VSR/VTV-Data/Output-Videos/SRFormer 
3             /home/21010294/VSR/Repositories/SROOE/results/SROOE-VAL_t100/VTV                              /work/21010294/VSR/VTV-Data/Output-Videos/SROOE 